.stuff-to-download-gallery-content-ctn {
  padding: 110px 0 0 0;
  background-color: #eee;
  background-image: url('../../assets/img/layout/bg.webp');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
  overflow-x: hidden;
}
.stuff-to-download-gallery-content-ctn-text {
  padding: 15px;
}
.stuff-to-download-gallery-content-text-title {
  font-size: var(--txt-h1-sm);
  position: relative;
  z-index: 1;
  color: var(--white);
  height: 40px;
  display: flex;
  align-items: center;
}
.stuff-to-download-gallery-content-text-title::after {
  content: '';
  height: 110%;
  width: 100%;
  background: var(--purple);
  position: absolute;
  top: 0;
  left: -10%;
  border-radius: 0 30px 30px 0;
  z-index: -1;
  animation: gastronomic-text-in 2.5s;
}
.stuff-to-download-gallery-content-ctn-img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px 0;
}
.stuff-to-download-gallery-content-img-ctn {
  height: 300px;
  width: 100%;
  padding: 12px 12px 30px 12px;
  position: relative;
}
.stuff-to-download-gallery-content-img {
  height: 100%;
  width: 100%;
}
.class-button-gastronomic {
  border-color: var(--blue);
  color: var(--blue);
  margin-left: 25px;
}
.class-button-gastronomic:hover {
  border-color: var(--blue);
  background: var(--blue);
}
.stuff-to-download-gallery-video {
  width: 100%;
  height: 210px;
}
.stuff-to-download-gallery-content-text-ctn {
  margin: 75px 0;
  padding: 0 20px;
}
.stuff-to-download-gallery-content-text-desc {
  font-size: var(--txt-p-sm);
}
.stuff-to-download-gallery-search-ctn {
  background-image: url('../../assets/img/material/CiudaddeMexico_Portada.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 320px;
  position: relative;
  margin-top: 42px;
  display: block;
}
.select-search-container {
  position: absolute;
}
.select-search-input {
  border-radius: 25px;
}
.stuff-to-download-gallery-search-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stuff-to-download-gallery-search-text {
  padding: 32px 12px;
}
.stuff-to-download-gallery-search-h2 {
  font-size: var(--txt-h2-sm);
  color: var(--white);
  text-align: center;
}
.stuff-to-download-gallery-search-p {
  font-size: var(--txt-p-sm);
  color: var(--white);
  text-align: center;

}
.stuff-to-download-gallery-btn {
  width: 150px;
  float: right;
  height: 40px;
  margin: 6px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid var(--purple);
  color: var(--purple);
}

.stuff-to-download-gallery-btn:hover {
  background: var(--purple);
  border: 1px solid var(--purple);
  color: var(--white);
}

.stuff-to-download-gallery-content-img-p {
  position: absolute;
  bottom: 24px;
  left: 24px;
  font-size: var(--txt-p-sm);
  color: var(--white);
  font-weight: 700;
}


@media (min-width: 744px) {
  .stuff-to-download-gallery-content-ctn {
    padding: 30px 0 0 0;
  }
  .stuff-to-download-gallery-content-text-title {
    font-size: var(--txt-h1-md);
  }
  .stuff-to-download-gallery-video {
    width: 100%;
    height: 310px;
  }
  .stuff-to-download-gallery-content-text-desc {
    font-size: var(--txt-p-md);
  }
  .stuff-to-download-gallery-content-img-ctn {
    width: 0;
    height: 360px;
    flex: 1 0 40%;
    overflow-y: hidden;
    padding: 12px 12px 60px 12px;
  }
  .stuff-to-download-gallery-search-ctn {
    height: 420px;
  }
  .stuff-to-download-gallery-search-text {
    padding: 10% 12px;
  }
  .stuff-to-download-gallery-search-h2 {
    font-size: var(--txt-h2-md);
  }
  .stuff-to-download-gallery-search-p {
    font-size: var(--txt-p-md);
  }
  .stuff-to-download-gallery-content-img-p {
    bottom: 62px;
    left: 22px;
  }
}

@media (min-width: 992px) {
  .stuff-to-download-gallery-content-ctn {
    padding: 40px 0 0 0;
  }
  .stuff-to-download-gallery-content-ctn-text {
    display: block;
    align-self: center;
  }
  .stuff-to-download-gallery-content-text-title {
    font-size: var(--txt-h1-xl);
  }
  .stuff-to-download-gallery-content-ctn-badge {
    padding: 35px;
  }
  .stuff-to-download-gallery-video {
    width: 100%;
    height: 470px;
  }
  .stuff-to-download-gallery-content-text-desc {
    font-size: var(--txt-p-xl);
  }
  .stuff-to-download-gallery-content-img-ctn {
    flex: 1 0 30%;
  }
  .stuff-to-download-gallery-search-ctn {
    height: 570px;
  }
  .stuff-to-download-gallery-search-text {
    padding: 140px 12px;
  }
  .stuff-to-download-gallery-search-h2 {
    font-size: var(--txt-h2-xl);
  }
  .stuff-to-download-gallery-search-p {
    font-size: var(--txt-p-xl);
  
  }
}

@keyframes gastronomic-text-in {
  0% {
    left: -100%;
  }

  100% {
    left: -10%;
  }
}