.eventos-header-ctn {
  padding-top: 140px;
  background-image: url('../../assets/img/layout/bg.webp');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
}
.eventos-header-text-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 32px;
  color: var(--white);
  background: linear-gradient(135deg, var(--purple), var(--red));
  box-shadow: 0 10px 20px -3px var(--black);
  animation-duration: 3s;
  animation-name: silceRight;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventos-header-video-ctn {
  aspect-ratio: 3/2;
}
.eventos-header-text-desc {
  text-align: center;
  font-size: 14px;
  padding: 20px;
  margin: 0;
  text-align: justify;
}

@media (min-width: 992px)  {
  .eventos-header-text-title {
    font-size: 32px;
    margin-bottom: 62px;
  }
  .eventos-header-text-desc {
    font-size: 18px;
    padding: 20px 40px;
  }
}