.sustainable-tourism-content-ctn {
  padding: 50px 0 0 0;
  background-color: #eee;
  background-image: url('../../assets/img/layout/bg.webp');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
  overflow-x: hidden;
}
.sustainable-tourism-content-ctn-text {
  padding: 15px;
}
.sustainable-tourism-content-text-title {
  font-size: var(--txt-h1-sm);
  position: relative;
  z-index: 1;
  color: var(--white);
  height: 50px;
  display: flex;
  align-items: center;
}
.sustainable-tourism-content-text-title::after {
  content: '';
  height: 110%;
  width: 117%;
  background: var(--blue);
  position: absolute;
  top: 0;
  right: -15%;
  border-radius: 30px 0 0 30px;
  z-index: -1;
  animation: sustainable-text-in 2.5s;
}
.sustainable-tourism-content-text-desc {
  font-size: var(--txt-p-sm);
  text-align: justify;
}
.sustainable-tourism-content-text-desc::first-letter {
  text-transform: capitalize;
}
.sustainable-tourism-content-ctn-badge {
  background-color: #ccc;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-top: 35px;
}
.sustainable-tourism-content-badge-text {
  font-size: 16px;
  margin-bottom: 0;
}
.sustainable-tourism-content-ctn-img {
  margin-top: 0;
  margin-bottom: 32px;
  width: 85%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  transform: rotate(5deg);
}
.sustainable-tourism-content-img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border: 25px solid #fff;
  box-shadow: 15px 15px 10px #c2c2c2;
}

@media (min-width: 744px) {
  .sustainable-tourism-content-ctn {
    padding: 50px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .sustainable-tourism-content-text-title {
    font-size: var(--txt-h1-md);
  }
  .sustainable-tourism-content-text-desc {
    font-size: var(--txt-p-md);
  }
  .sustainable-tourism-content-badge-text {
    font-size: 18px;
  }
  .sustainable-tourism-content-ctn-img {
    margin-top: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
  }
}

@media (min-width: 992px) {
  .sustainable-tourism-content-ctn {
    padding: 50px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .sustainable-tourism-content-ctn-text {
    display: block;
    align-self: center;
  }
  .sustainable-tourism-content-text-title {
    font-size: var(--txt-h1-xl);
  }
  .sustainable-tourism-content-text-desc {
    margin-top: 15px;
    font-size: var(--txt-p-xl);
  }
  .sustainable-tourism-content-ctn-img {
    margin-top: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
  }
  .sustainable-tourism-content-img {
    height: 460px;
  }
  .sustainable-tourism-content-ctn-badge {
    padding: 35px;
  }
}

@keyframes sustainable-text-in {
  0% {
    right: -100%;
  }

  100% {
    right: -15%;
  }
}