.towns-bottom-ctn {
  background-color: #eee;
  padding: 60px 20px;
  background-image: url('../../assets/img/layout/bg.webp');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
  overflow-x: hidden;
}
.towns-bottom-img-ctn {
  width: 100%;
  height: 100%;
}
.towns-bottom-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 3/2;
}
.towns-bottom-text-title {
  font-size: var(--txt-h3-sm);
  margin-top: 55px;
  position: relative;
  z-index: 1;
  color: var(--white);
  height: 50px;
  display: flex;
  align-items: center;
}
.towns-bottom-text-title::after {
  content: '';
  height: 110%;
  width: 117%;
  background: var(--blue);
  position: absolute;
  top: 0;
  right: -15%;
  border-radius: 30px 0 0 30px;
  z-index: -1;
  animation: towns-text-in 2.5s;
}
.towns-bottom-text-desc {
  font-size: var(--txt-p-sm);
  margin-top: 20px;
  text-align: justify;
}

.btn-towns {
  margin-top: 12px;
  float: right;
  background: #EC068B;
  border-color: #EC068B;
}

.btn-towns:hover {
  background: rgba(236,6,139, .6);
  border-color: rgba(236,6,139, .6);
}

.btn-towns:active {
  background: rgba(236,6,139, .6);
  border-color: rgba(236,6,139, .6);
}

.btn-towns:focus {
  background: rgba(236,6,139, .6);
  border-color: rgba(236,6,139, .6);
}

.btn-towns:visited {
  background: rgba(236,6,139, .6);
  border-color: rgba(236,6,139, .6);
}

@media (min-width: 744px) {
  .towns-bottom-text-desc {
    font-size: var(--txt-p-md);
  }
  .towns-bottom-text-title {
    font-size: var(--txt-h3-md);
  }
}

@media (min-width: 992px) {
  .towns-bottom-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .towns-bottom-text-ctn {
    padding: 0 40px;
  }
  .towns-bottom-text-title {
    font-size: var(--txt-h3-xl);
    margin-top: 0;
  }
  .towns-bottom-text-desc {
    font-size: var(--txt-p-xl);
    margin-top: 40px;
  }
}

@keyframes towns-text-in {
  0% {
    right: -100%;
  }

  100% {
    right: -15%;
  }
}