.well-being-content-ctn {
  padding: 0 0 0 0;
  background-color: #eee;
  background-image: url('../../assets/img/layout/bg.webp');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
  overflow-x: hidden;
}
.well-being-content-ctn-text {
  padding: 15px;
}
.well-being-content-text-title {
  font-size: 26px;
}
.well-being-content-text-desc {
  font-size: 16px;
  text-align: justify;
  text-transform: lowercase;
}
.well-being-content-text-desc::first-letter {
  text-transform: capitalize;
}
.well-being-content-ctn-badge {
  background-color: #ccc;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-top: 35px;
}
.well-being-content-badge-text {
  font-size: 16px;
  margin-bottom: 0;
}
.well-being-content-ctn-img {
  margin-top: 35px;
  margin-bottom: 32px;
  width: 85%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  transform: rotate(-5deg);
}
.well-being-content-img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border: 25px solid #fff;
  box-shadow: 15px 15px 10px #c2c2c2;
}

@media (min-width: 744px) {
  .well-being-content-ctn {
    padding: 50px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .well-being-content-text-title {
    font-size: 28px;
  }
  .well-being-content-text-desc {
    font-size: 14px;
  }
  .well-being-content-badge-text {
    font-size: 18px;
  }
  .well-being-content-ctn-img {
    margin-top: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
  }
}

@media (min-width: 992px) {
  .well-being-content-ctn {
    padding: 50px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .well-being-content-ctn-text {
    display: block;
    align-self: center;
  }
  .well-being-content-text-title {
    font-size: 32px;
  }
  .well-being-content-text-desc {
    margin-top: 15px;
    font-size: 16px;
  }
  .well-being-content-ctn-img {
    margin-top: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
  }
  .well-being-content-img {
    height: 460px;
  }
  .well-being-content-ctn-badge {
    padding: 35px;
  }
}