.main-content {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

.nav-show + .main-content {
  display: none;
}

@media (min-width: 744px) { 
  .main-content {
    margin-top: 100px;
  }
}