.calendar-header-ctn {
  background-color: #eee;
  padding: 80px 0;
  background-image: url('../../assets/img/layout/bg.webp');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
}
.calendar-header-text-ctn {
  margin-top: 80px;
}
.calendar-header-text-title {
  font-size: var(--txt-h1-sm);
  text-align: center;
  color: var(--white);
  background: linear-gradient(135deg, #ec068b, var(--blue));
  box-shadow: 0 10px 20px -3px var(--black);
  animation-duration: 3s;
  animation-name: silceRight;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-header-text-subtitle {
  font-size: 22px;
  text-align: center;
  margin-top: 25px;
}
.calendar-header-calendar-ctn {
  display: block;
  padding: 20px;
}
.calendar-header-calendar-img-ctn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 25px solid #fff;
  box-shadow: 15px 15px 10px #c2c2c2;
  box-sizing: border-box;
}
.calendar-header-calendar-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
}
.calendar-header-calendar {
  display: block;
  margin-top: 30px;
  background: rgba(48, 48, 48, .7);
  border-radius: 0;
  flex-wrap: wrap;
  padding: 30% 0;
  max-height: 100%;
  box-shadow: 15px 15px 10px #c2c2c2;
}
.react-calendar-events {
  width: 100%;
}
.react-calendar-events .react_calendar_top_toggle_bar .react_calendar_round_toggle {
  padding: 2px 7px;
}
.calendar-header-text-desc-ctn {
  padding: 20px;
}
.calendar-header-text-desc {
  font-size: 16px;
  text-align: center;
}
.calendar-select-text {
  font-size: var(--txt-h4-sm);
  font-weight: 500;
  text-align: center;
  color: var(--white);
}
.rmdp-input {
  text-align: center;
  height: 50px;
  border: 2px solid var(--purple);
  background: var(--white);
  box-shadow: 7px 10px 10px 5px var(--black);
}
.calendar-select-ctn {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.calendar-select-title {
  margin-top: 17px;
  font-size: var(--txt-h3-sm);
  font-weight: 600;
  color: var(--white);
  text-align: center;
}
.calendar-select-description {
  margin-top: 17px;
  font-size: var(--txt-p-sm);
  color: var(--white);
  text-align: justify;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 744px) {
  .calendar-select-description {
    font-size: var(--txt-p-md);
  }
  .calendar-header-text-title {
    font-size: var(--txt-h1-md);
  }
  .calendar-select-text {
    font-size: var(--txt-h4-md);
  }
  .calendar-select-title {
    font-size: var(--txt-h3-md);
  }
}

@media (min-width: 992px) {
  .calendar-header-ctn {
    padding: 80px 0;
  }
  .calendar-header-text-title {
    font-size: var(--txt-h1-xl);
  }
  .calendar-header-text-subtitle {
    font-size: 32px;
  }
  .calendar-header-calendar-img {
    height: 600px;
  }
  .calendar-header-calendar-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px
  }
  .calendar-header-text-desc-ctn {
    padding-top: 40px;
  }
  .calendar-header-text-desc {
    font-size: 18px;
    text-align: center;
  }
  .calendar-header-calendar {
    margin-top: 0;
  }
  .calendar-select-description {
    font-size: var(--txt-p-xl);
  }
  .calendar-select-text {
    font-size: var(--txt-h4-xl);
  }
  .calendar-select-title {
    font-size: var(--txt-h3-xl);
  }
}