.description-ctn {
  padding: 42px 0;
  background-color: #eee;
  overflow-x: hidden;
}
.description-ctn-text {
  padding: 15px;
}
.description-text-title {
  font-size: 26px;
}
.description-text-desc {
  text-align: justify;
  font-size: var(--txt-p-sm);
}
.description-ctn-badge {
  background-color: #ccc;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-top: 35px;
}
.description-badge-text {
  font-size: 16px;
  margin-bottom: 0;
}
.description-ctn-img {
  margin-top: 35px;
  margin-bottom: 32px;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  transform: rotate(5deg);
}
.description-img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border: 25px solid #fff;
  box-shadow: 15px 15px 10px #c2c2c2;
}
.animate-text-ctn {
  margin-top: -75px;
  font-weight: 700;
  font-size: 32px;
}


@media (min-width: 744px) {
  .description-ctn {
    padding: 56px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .description-text-title {
    font-size: 28px;
  }
  .description-text-desc {
    font-size: var(--txt-p-md);
  }
  .description-badge-text {
    font-size: 18px;
  }
  .description-ctn-img {
    margin-top: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
  }
  .animate-text-ctn {
    margin-top: -75px;
    margin-bottom: 0;
    font-weight: 700;
  }
}

@media (min-width: 992px) {
  .description-ctn {
    padding: 72px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .description-ctn-text {
    display: block;
    align-self: center;
  }
  .description-text-title {
    font-size: 32px;
  }
  .description-text-desc {
    margin-top: 15px;
    font-size: var(--txt-p-xl);
  }
  .description-ctn-img {
    margin-top: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
  }
  .description-img {
    height: 460px;
  }
  .description-ctn-badge {
    padding: 35px;
  }
  .animate-text-ctn {
    margin-top: -75px;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 0;
  }
  
}