.states-video-ctn {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
}

@media (min-width: 744px) {
  .states-video-ctn {
    margin-top: 80px;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 4;
  }
}

@media (min-width: 992px) {
  .states-video-ctn {
    height: 244px;
    aspect-ratio: 16 / 4;
  }
}