.features-ctn {
  padding: 42px 15px 72px;
  background-color: #eee;
}
.features-text-title {
  text-align: center;
  font-size: 26px;
}
.features-collapse-ctn {
  margin-top: 42px;
}
.features-collapse-btn-ctn {
  display: grid;
  gap: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  grid-template-columns: auto 1fr;
}
.features-collapse-show {
  background: #03a0af;
  border: none;
  color: #e3e8ed;
}
.features-collapse-show:hover {
  background: #a6208c;
  border: none;
  color: #e3e8ed;
}
.features-collapse-desc-ctn {
  text-align: center;
}
.features-collapse-btn {
  height: 36px;
  min-width: 36px;
  font-size: 16px;
}
.features-collapse-desc {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.features-collapse-body-ctn {
  margin-top: 10px;
  font-size: 14px;
}
.features-card-body-text {
  text-align: justify;
}
.class-buton-features {
  float: right;
  border-color: #03a0af;
  color: #303030;
}
.class-buton-features:hover {
  border-color: #03a0af;
  background: #03a0af;
  color: #fff;
}

.features-text-bubble-ctn{
  display: flex;
  justify-content: center;
  align-items: center;
}


.features-bubble-ctn {
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center;
  font: 2vw system-ui;
}

.features-bubble-ctn h2 {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  color: #e3e8ed;
  background-color: #03a0af;
  padding: 50px;
  border-radius: 11px;
  position: relative;
  box-shadow: 20px 20px #a6a6a6;
}
.features-bubble-ctn h2:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  -webkit-text-fill-color: #03a0af;
  text-shadow: 22px 22px #a6a6a6;
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: #03a0af;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px #a6a6a6;
  z-index: -2;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}

@media (min-width: 992px) {
  .features-ctn {
    padding: 72px 12%;
  }
  .features-text-title {
    text-align: center;
    font-size: 42px;
  }
  .features-collapse-btn {
    font-size: 18px;
  }
  .features-collapse-body-ctn {
    font-size: 16px;
  }
}