.footer-ctn { 
  padding: 42px 15px;
  background-color: #eee;
  color: var(--black);
}
.footer-text-ctn {
  display: grid;
  grid-template-columns: 1fr;
}
.footer-title {
  font-size: var(--txt-h5-sm);
  font-weight: 700;
  margin-top: 25px;
}
.footer-text {
  color: var(--black);
  margin: 5px 0;
  font-size: var(--txt-p-sm);
}

.footer-bottom-ctn {
  margin-top: 25px;
  padding-top: 15px;
  margin-bottom: 80px;
  border-top: 1px solid var(--gray);
  font-size: 12px;
  text-align: justify;
}

@media (min-width: 744px) {
  .footer-ctn { 
    padding: 12px 15px;
    background-color: #eee;
  }
  .footer-contact-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-text {
    font-size: var(--txt-p-md);
  }
  .footer-title {
    font-size: var(--txt-h5-md);
  }
}

@media (min-width: 992px) {
  .footer-ctn { 
    padding: 18px 25px;
    background-color: #eee;
  }
  .footer-text {
    font-size: var(--txt-p-xl);
  }
  .footer-title {
    font-size: var(--txt-h5-xl);
  }
}
