.tendencies-card {
  display: block;
  padding: 40px 20px;
  background-image: url('../../assets/img/layout/bg.webp');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
}
.tendencies-card-img-ctn {
  width: 100%;
  height: 100%;
}
.tendencies-card-img {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}
.tendencies-card-text-ctn {
  padding: 30px 0;
}
.tendencies-card-text-title {
  font-size: var(--txt-h2-sm);
}
.tendencies-card-text-desc {
  font-size: var(--txt-p-sm);
  margin-top: 20px;
}
.tendencies-card-text-btn {
  float: right;
  font-size: var(--txt-btn-sm);
}

@media (min-width: 744px) {
  .tendencies-card-text-desc {
    font-size: var(--txt-p-md);
  }
  .tendencies-card-text-title {
    font-size: var(--txt-h2-md);
  }
  .tendencies-card-text-btn {
    font-size: var(--txt-btn-md);
  }
}

@media (min-width: 992px) {
  .tendencies-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 40px;
    gap: 40px;
  }
  .tendencies-card-img-ctn {
    width: 95%;
    height: 420px;
  }
  .tendencies-card-text-title {
    font-size: var(--txt-h2-xl);
  }
  .tendencies-card-text-desc {
    font-size: var(--txt-p-xl);
    margin-top: 25px;
  }
  .tendencies-card-text-btn {
    float: right;
    margin-right: 40px;
    font-size: var(--txt-btn-xl);
  }
}