.blog-ctn {
  display: block;
  padding: 20px;
  gap: 40px;
  background-image: url('../../assets/img/layout/bg.webp');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
  box-sizing: border-box;
}
.blog-item-ctn {
  padding-bottom: 50px;
  margin-top: 45px;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 7px 5px 3px var(--gray);
}
.blog-item-img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  aspect-ratio: 3/2;
}
.blog-item-text-title {
  font-size: var(--txt-h2-sm);
  margin-top: 45px;
  margin-bottom: 42px;
  font-weight: 600;
}
.blog-item-tex-ctn {
  height: 150px;
  overflow-x: hidden;
}
.blog-item-text-desc {
  font-size: var(--txt-p-sm);
  margin-top: 20px;
  text-align: justify;
}
.blog-item-btn {
  float: right;
}
.blog-item-hide {
  height: 800px;
  overflow: hidden;
  position: relative;
}
.blog-item-hide::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  height: 150px;
  width: 100%;
  background: linear-gradient(360deg, #fff 50%, transparent);
}
.blog-item-show {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.blog-item-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-color: var(--black);
  color: var(--black);
  z-index: 1;
}
.blog-item-btn:hover {
  border-color: var(--black);
  background: var(--black);
  color: var(--white);
}

@media (min-width: 744px) {border-color: var(--black);
  .blog-item-text-desc {
    font-size: var(--txt-p-md);
  }
  .blog-item-text-title {
    font-size: var(--txt-h2-md);
  }
  .blog-item-tex-subtitle {
    font-size: var(--txt-h5-md);
  }
}

@media (min-width: 992px) {
  .blog-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 72px 10% 10% 10%;
  }
  .blog-item-ctn {
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-top: 0;
  }
  .blog-item-img {
    aspect-ratio: 19/6;
    height: 370px;
  }
  .blog-item-text-title {
    font-size: var(--txt-h2-xl);
  }
  .blog-item-text-desc {
    font-size: var(--txt-p-xl);
  }
  .blog-item-tex-subtitle {
    font-size: var(--txt-h5-xl);
  }
  .blog-item-hide {
    height: 900px;
  }
}