.blog-title-ctn {
  padding-top: 145px;
  background-image: url('../../assets/img/layout/bg.webp');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center;
}
.blog-title-text-title {
  font-size: 28px;
  text-align: center;
  margin: 0;
}
.blog-bubble-ctn {
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center;
  font: 2vw system-ui;
}
.blog-bubble-ctn h1 {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  color: #e3e8ed;
  background-color: #03a0af;
  padding: 50px;
  border-radius: 11px;
  position: relative;
  box-shadow: 20px 20px #a6a6a6;
}
.blog-bubble-ctn h1:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  -webkit-text-fill-color: #03a0af;
  text-shadow: 22px 22px #a6a6a6;
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: #03a0af;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px #a6a6a6;
  z-index: -2;
}


@media (min-width: 744px) {
  .blog-title-ctn {
    padding-top: 110px;
  }
}

@media (min-width: 992px) {
  .blog-title-text-title {
    font-size: 32px;
  }
}