.tips-for-traveling-content-ctn {
  padding:  0px 0 0 0;
  background-color: #fff;
  overflow-x: hidden;
  margin: 15px;
  border: 1px solid var(--gray);
  box-shadow: 0px 7px 5px 3px var(--gray);
}
.tips-for-traveling-content-ctn-text {
  padding: 15px;
}
.tips-for-traveling-content-text-title {
  font-size: var(--txt-h5-sm);
  position: relative;
  z-index: 1;
  color: var(--white);
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.tips-for-traveling-content-text-title::after {
  content: '';
  height: 110%;
  width: 105%;
  background: var(--purple);
  position: absolute;
  top: 0;
  left: -10%;
  border-radius: 0 30px 30px 0;
  z-index: -1;
  animation: gastronomic-text-in 2.5s;
}
.tips-for-traveling-content-text-desc-hide {
  font-size: var(--txt-p-sm);
  text-align: justify;
  position: relative;
  height: 80px;
  overflow: hidden;
}
.tips-for-traveling-content-text-desc-hide::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  height: 80px;
  width: 100%;
  background: linear-gradient(360deg, #fff 50%, transparent);
}
.tips-for-traveling-content-text-desc-hide::first-letter {
  text-transform: capitalize;
}
.tips-for-traveling-content-text-desc-show {
  font-size: var(--txt-p-sm);
  text-align: justify;
  position: relative;
  height: 100%;
  overflow: hidden;
  margin-bottom: 35px;
}
.tips-for-traveling-content-text-desc-show::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
}
.tips-for-traveling-content-text-desc-show::first-letter {
  text-transform: capitalize;
}
.tips-for-traveling-content-ctn-badge {
  background-color: #ccc;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-top: 35px;
}
.tips-for-traveling-content-badge-text {
  font-size: 16px;
  margin-bottom: 0;
}
.tips-for-traveling-content-ctn-img {
  margin-top: 35px;
  margin-bottom: 32px;
  width: 100%;
  height: 100%;
}
.tips-for-traveling-content-img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}
.class-button-gastronomic {
  border-color: var(--blue);
  color: var(--blue);
  margin-left: 25px;
  font-size: var(--txt-btn-sm);
}
.class-button-gastronomic:hover {
  border-color: var(--blue);
  background: var(--blue);
}
.tips-for-traveling-btn-show {
  margin-left: 15px;
  margin-top: -10px;
  border-color: var(--black);
  color: var(--black);
}
.tips-for-traveling-btn-show:hover {
  background: var(--black);
  color: var(--white);
  border-color: var(--black);
}

@media (min-width: 744px) {
  .tips-for-traveling-content-ctn {
    padding: 30px 0 0 0;
    width: 46%;
  }
  .tips-for-traveling-content-text-title {
    font-size: var(--txt-h5-md);
  }
  .tips-for-traveling-content-text-desc-hide {
    font-size: var(--txt-p-md);
  }
  .tips-for-traveling-content-text-desc-show {
    font-size: var(--txt-p-md);
  }
  .tips-for-traveling-content-badge-text {
    font-size: 18px;
  }
  .tips-for-traveling-content-ctn-img {
    margin-top: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
  }
  .class-button-gastronomic {
    font-size: var(--txt-btn-md);
  }
  .tips-for-traveling-content-text-title::after {
    height: 110%;
    width: 100%;
    top: 0;
  }
}

@media (min-width: 992px) {
  .tips-for-traveling-content-ctn {
    padding: 30px 0 0 0;
    width: 31%;
  }
  .tips-for-traveling-content-ctn-text {
    display: block;
    align-self: center;
  }
  .tips-for-traveling-content-text-title {
    font-size: var(--txt-h5-xl);
  }
  .tips-for-traveling-content-text-desc-hide {
    margin-top: var(--txt-p-xl);
  }
  .tips-for-traveling-content-text-desc-show {
    margin-top: var(--txt-p-xl);
  }
  .tips-for-traveling-content-ctn-img {
    margin-top: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
  }
  .tips-for-traveling-content-img {
    height: 460px;
  }
  .tips-for-traveling-content-ctn-badge {
    padding: 35px;
  }
  .class-button-gastronomic {
    font-size: var(--txt-btn-xl);
  }
}

@keyframes gastronomic-text-in {
  0% {
    left: -100%;
  }

  100% {
    left: -10%;
  }
}